.race-main{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0, .05);
    padding: 15px 30px;
    border-radius: 10px;
    height: 700px;
    overflow: scroll; 
}
.race-main::-webkit-scrollbar {
    display: none;
  }